.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table, td, th {
  border: 1px solid grey;
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(even) {
  background-color: rgba(222, 215, 215, 0.418);
}
.mess1{
  background-color: #61dafb;
  height: 0px;
  visibility: hidden;
}
.mess2{
  display: flex;
  padding: 10px 20px;
  text-align: center;
  justify-content: center;

}
.in1{
  color: red;
  text-align: left;
  margin-top: 0px;
  font-size: small;
  visibility: hidden;
}
.in2{
  color: red;
  text-align: left;
  margin-top: 0px;
  font-size: small;
  
}